*{
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: black;
}
h1{
    font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 200px;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
    color: yellow;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    position: static;
}
#menus{
    display: flex;
    justify-content: center;
}
#img{
    display: flex;
    justify-content: center;
}
#contenido{
    color: aliceblue;
}
#contenido img{
    display: flex;
    float:left;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
}
button a{
    text-decoration: none;
    color: gray;
}
button:hover{
    background-color: yellow;
    color: green;

}